<div id="donate">
  <div class="row header">
    <div class="col">
      <bb-icon
        height="75"
        width="95"
        viewBox="0 0 400 400"
        stroke="secondary-color"
        fill="secondary-color"></bb-icon>
      <h1 class="display-4 d-inline-block align-top">Help Our Cultures Grow</h1>
    </div>
  </div>

  <div class="container body">
    <div class="row">
      <div class="col-3">
        <h3 class="hl">Spread the Joy</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>
          BuchaBuddy started as an easy-to-use inventory management tool to help
          kombucha homebrewers of all experience levels and backgrounds enjoy the
          art of making their very own batches of kombucha. We are focused on taking
          all of the guesswork out of brewing so you can let your creative juices flow
          and brew up healthy, tasty kombucha.
        </p>

        <p>
          BuchaBuddy is an <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">open-source</a>
          web application created and maintained by kombucha lovers around the world.
          We are always looking for help improving BuchaBuddy and spreading the joy
          of homebrewing to people everywhere. If you are experienced or just starting
          to code, we would love to have you help us grow. Check out our
          <a href="https://github.com/buchabuddy/buchabuddy" target="_blank">GitHub repository</a>
          and be sure to follow us on <a href="https://twitter.com" target="_blank">Twitter</a> to
          stay on top upcoming features.
        </p>

        <p>
          We want to sincerely thank every user, developer and kombucha drinker who
          benefits from this tool. Without your support and dedication, none of this
          would be possible. Thank you.
        </p>
      </div>
    </div>
  </div>
</div>
