<div id="tools">
  <div class="row header">
    <div class="col">
      <bb-icon
        height="75"
        width="95"
        viewBox="0 0 400 400"
        stroke="secondary-color"
        fill="secondary-color"></bb-icon>
      <h1 class="display-4 d-inline-block align-top">Simplifying Kombucha Brewing</h1>
    </div>
  </div>

  <div
    class="container"
    *ngFor="let cardsInRow of columnizedToolCards">
    <div class="row">
      <div
        class="col"
        *ngFor="let card of cardsInRow"
        [ngClass]="{'card': card}">
        <i
          class="material-icons card-ico"
          *ngIf="card">{{ card.icon }}</i>
        <h5
          class="card-hl"
          *ngIf="card">{{ card.title }}</h5>
        <span
          class="card-body"
          *ngIf="card">
          <ul>
            <li *ngFor="let body of card.body">{{ body }}</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
