@import "../../shared/color_scheme";

#root {
  .hero-banner {
    background-color: $primary-light;
  }

  .icon {
    margin-top: 30px;
  }

  .offers {
    text-align: center;

    .offer-icon {
      font-size: 70px;
    }

    p {
      font-size: 12px;
    }
  }
}
