@import "./color_scheme";

.flash-message{
  text-align: left;
  cursor: pointer;

  &.alert-error, &.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
  }

  &.alert-success, &.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
  }

  .close-flash {
    display: inline-block;
    float: right;
    font-weight: 100;
    font-size: small;
    &:hover {
      color: $primary-dark;
    }
  }
}
