<div id="footer">
  <div class="row">
    <div class="col">
      <h3 class="footer-hl">About</h3>
      <p>
        BuchaBuddy is an open source web application made with ❤️ for all the Kombucha
        homebrewers around the world.<br>
        BuchaBuddy helps manage and track every batch of kombucha with easy-to-use tools
        and a simple dashboard.
      </p>
    </div>

    <div class="col">
      <h3 class="footer-hl">Navigation</h3>
      <div class="row">
        <div class="col">
          <a class="footer-nav" routerLink="">BuchaBuddy</a>
        </div>
        <div class="col">
          <a class="footer-nav" routerLink="/tools">Brew Tools</a>
        </div>
        <div class="col">
          <a class="footer-nav" routerLink="/donate">Growing Our Cultres</a>
        </div>
      </div>
    </div>

    <div class="col">
      <h3 class="footer-hl">Contribute</h3>
      <p>
        We are always looking for help developing new features and maintaining existing
        ones.
      </p>
      <div class="row">
        <div class="col">
          <a href="https://github.com/buchabuddy/buchabuddy/tree/master" target="_blank">
            <img src="/octocat-white.png" alt="octocat-logo">
          </a>
        </div>
        <div class="col">
          <a href="https://twitter.com" target="_blank">
            <img src="/twitter-white.png" alt="twitter-logo">
          </a>
        </div>
        <div class="col">
          <a href="mailto:ryan@buchabuddy.com">
            <i class="material-icons img">mail_outline</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 copyright">
      <p>
        <a href="https://github.com/buchabuddy/buchabuddy">Source Code</a> and
        <a href="http://buchabuddy.com">Website</a> by BuchaBuddy<br>
        © 2018 All Rights Reserved.<br>
        Denver, Colorado 80202
      </p>
    </div>
  </div>
</div>
