<div class="row footer">
  <div class="col">
    <h3 class="footer-hl">About</h3>
    <p>
      BuchaBuddy is an open source web application made with ❤️ for all the Kombucha
      homebrewers around the world. This software would not be possible without the
      care and attention of the open source community.<br>
      We are always looking for help developing new features and maintaining existing
      ones. Check us out on <a href="https://github.com/buchabuddy/buchabuddy">GitHub</a> to contribute.
    </p>
    <p>
      <a href="https://github.com/buchabuddy/buchabuddy">Source Code</a> and
      <a href="http://buchabuddy.com">Website</a> by BuchaBuddy<br>
      © 2018 All Rights Reserved.<br>
      Denver, Colorado 80202
    </p>
  </div>

  <div class="col">
  </div>

  <div class="col">
  </div>
</div>
