<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="<%= welcome_index_path %>">BuchaBuddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link">Tracking Tools<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Donate</a>
        </li>
      </ul>

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link sign-in" data-toggle="modal" data-target="#signInModalCenter">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<sign-in-modal></sign-in-modal>
