<form class="new_user" id="new_user" action="/users/password" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
  <div class="field form-group">
    <label for="user_email">Enter your email address, and we\ll send you a recovery link.</label>
    <input class="form-control" placeholder="Email Address" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
    <div class="errors"></div>
    <small class="form-text style-link">Resend Confirmation Email</small>
  </div>
  <div class="actions" style="pointer-events: none;">
    <input class="btn btn-primary submit disabled" id="submit" type="submit" name="commit" value="Send Recovery Email" data-disable-with="Send Recovery Email">
  </div>
</form>
