<form #forgotPasswordForm="ngForm" class="new_user" id="new_user" accept-charset="UTF-8"><input name="utf8" type="hidden" value="✓">
  <div class="field form-group">
    <label for="user_email">Enter your email address, and we'll send you a recovery link.</label>
    <input id="user_email"
           class="form-control"
           [ngClass]="{'is-valid': !email.errors, 'is-invalid': email.errors && (email.dirty || email.touched)}"
           placeholder="Email Address"
           type="email"
           name="email"
           [(ngModel)]="user.email"
           #email="ngModel"
           required
           validateEmail>
    <div class="errors invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">Required</div>
      <div *ngIf="email.errors.validateEmail && !email.errors.required">Invalid email address</div>
    </div>
    <resend-confirmation-link></resend-confirmation-link>
  </div>
  <div class="actions"
       [ngClass]="{'disable-pointer-events': !forgotPasswordForm.valid}">
    <input class="btn btn-primary submit"
           [ngClass]="{'disabled': !forgotPasswordForm.valid}"
           id="submit"
           type="submit"
           name="commit"
           value="Send Recovery Email"
           data-disable-with="Send Recovery Email"
           (click)="submit()">
  </div>
</form>
