<div id="root">
  <div class="jumbotron jumbotron-fluid hero-banner">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-5 icon">
          <bb-icon></bb-icon>
        </div>
        <div class="col-5">
          <h1 class="display-4">BuchaBuddy</h1>
          <h5>Simplifying the kombucha brewing process</h5>
          <p class="lead">
            Our application gives you the power to track all of your supplies,
            ingredients, SCOBYs and batches in one place. You now have a friend in
            your kombucha brewing journey with BuchaBuddy
          </p>
          <a routerLink="/tools" role="button" class="btn btn-primary">Tracking Tools</a>
        </div>
      </div>
    </div>
  </div>
</div>
