<div id="root">
  <div class="jumbotron jumbotron-fluid hero-banner">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-5 icon">
          <bb-icon
            height="200"
            width="250"
            viewBox="0 0 400 400"
            stroke="secondary-color"
            fill="secondary-color"></bb-icon>
        </div>
        <div class="col-5">
          <h1 class="display-4">BuchaBuddy</h1>
          <h5>Simplifying the kombucha brewing process</h5>
          <p class="lead">
            Our application gives you the power to track all of your supplies,
            ingredients, SCOBYs and batches in one place. You now have a friend in
            your kombucha brewing journey with BuchaBuddy.
          </p>
          <a routerLink="/tools" role="button" class="btn btn-primary">
            <i class="material-icons d-inline-block align-top">mode_edit</i>
            Brew Tools
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row offers">
    <div class="col">
      <i class="material-icons offer-icon">donut_small</i>
      <h5>Batch Tracking</h5>
      <p>
        Simply keep track of all the equipment and ingredients used to produce
        your delicious batches of kombucha. Log every item used to make every batch
        in your BuchaBuddy Pantry. Track the brew process of each batch.
      </p>
    </div>
    <div class="col">
      <i class="material-icons offer-icon">view_list</i>
      <h5>Recipe Management</h5>
      <p>
        Easily manage the process and everything needed for your kombucha. Add
        every recipe into your very own BuchaBuddy BrewBook to ensure every
        stellar batch is recreated flawlessly.
      </p>
    </div>
    <div class="col">
      <i class="material-icons offer-icon">mood</i>
      <h5>Yeast Propagation</h5>
      <p>
        A happy SCOBY is the key to a great batch of kombucha. Track the health
        and lifespan of your cultures in the BuchaBuddy SCOBY Hotel. Set alerts
        and reminders when a SCOBY is nearing the end of its lifecycle.
      </p>
    </div>
  </div>
</div>
