@import "../../../shared/color_scheme";

#signInModalCenter {
  #password-reqs-list {
    li.is-valid {
      color: $is-valid;
    }

    li.is-invalid {
      color: $is-invalid;
    }
  }

  .actions.disable-pointer-events {
    pointer-events: none;
  }

  .form-check-label {
    margin-left: 1%;
  }

  .headline-bar {
    background-color: $primary-dark;
    height: 15px;
    width: 100%;
  }

  .modal-header {
    background-color: $primary-color;
    border-radius: 0px;
  }

  .actions {
    text-align: center;
    margin: 5% 0 3% 0px;

    .btn.btn-primary.submit {
      width: 50%;
    }
  }

  .sign-in-footer {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    small:first-child {
      float: right;
    }
  }
}
