$primary-color:   #66bb6a;
$primary-light:   #98ee99;
$primary-dark:    #338a3e;
$secondary-color: #263238;
$secondary-light: #4f5b62;
$secondary-dark:  #000a12;
$text-on-primary: #000000;
$text-on-second:  #ffffff;
